<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="stylesheet" href="../styles/body.scss" />
    <link rel="stylesheet" href="../styles/footer.scss" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gloria+Hallelujah&family=Sora&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Shalimar&display=swap"
      rel="stylesheet"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/3ebcd25298.js"
      crossorigin="anonymous"
    ></script>
    <title>Travel App</title>
  </head>
  <body id="home-body">
    <video autoplay muted loop id="video">
      <source
        src="https://storage.coverr.co/videos/gTxafiqZVVZKJtToYDfla15agQPbhTw4/download?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjM5Njg3NTM5fQ.iJfrsSugB9o6P-inS9NlmznXqiYcWuckgGU7TZawF6A&filename=Cinematic%20road%20map"
        type="video/mp4"
      />
    </video>
    <div class="landing-page">
      <section class="landing-text">
        <h1>Looking for your next vacation spot?</h1>
        <p>You've come to the right place! Let's explore!</p>
        <a href="./form.html">
          <button id="go-button">
            <i class="fas fa-caret-down"></i></button
        ></a>
      </section>
    </div>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
