* {
  margin: 0;
  padding: 0;
  font-family: "Shalimar", cursive;
}

/* Styles for the Travel App form i.e Landing Page */
#home-body {
  max-height: 100vh;
}

#video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}
.landing-page {
  position: fixed;
  top: 33%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}
.landing-text {
  font-size: 4rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#go-button {
  position: fixed;
  width: 4rem;
  height: 6rem;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 4rem;
  border-radius: 1.25rem;
  border: 2px solid #de520d;
}
button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #de520d, #dd6f38, #cf835d);
}
.fas {
  font-size: 3rem;
  color: white;
}

/* Styles for the Travel Form Page */

#header-text {
  font-size: 2rem;
  color: #433c39;
  padding-top: 1rem;
}
.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
}
.form-icon {
  color: #de520d;
  font-size: 2rem;
}
.form-details {
  font-size: 1.625rem;
  color: #433c39;
}
input {
  width: 40vw;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-bottom: 2px dashed #d6801a;
  border-top: none;
  border-left: none;
  border-right: none;
}
#form-body button {
  position: relative;
  width: 30%;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: transparent;
  margin-left: 35%;
  margin-right: 35%;
  border: 2px solid #d6801a;
}
#button-search {
  color: #433c39;
}
.extra {
  display: flex;
  margin: 6rem 2rem;
  background-color: #80908f;
  border-radius: 1.625rem;
  height: 30vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Styles for the Travel Results Page */
#header-text {
  text-align: center;
  font-size: 1rem;
}
#result-body {
  background-color: rgb(252, 252, 252);
}
.result-heading {
  border-bottom: 2px solid #433c39;
  text-align: center;
  margin: 3rem auto;
}
.trip-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.results {
  border: 2px solid #d6801a;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}
#result-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: auto 1rem;
}
.result-img {
  min-width: 60%;
}
#img {
  width: 100%;
  min-height: 100%;
  border-radius: 20px;
  margin-right: 0;
}
#result-button {
  display: flex;
  justify-content: space-evenly;
}
#result-button button {
  width: 3rem;
}
.trip-button {
  margin: 2rem;
  width: 25%;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: transparent;
}

.trip-list {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}
.mini-card {
  max-width: 30vw;
  border: 1px solid #d6801a;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}
.mini-img {
  max-height: 50vh;
  width: 100%;
}
.mini-img img {
  height: inherit;
  border-radius: 2rem;
}
.mini-content h3 {
  padding-top: 0.5rem;
  text-align: center;
}
.mini-button {
  align-self: center;
  margin: 1rem auto;
}
.mini-button:hover {
  cursor: pointer;
}
/* Styling for responsiveness */
@media (min-width: 311px) and (max-width: 599px) {
  .landing-page {
    top: 30%;
  }
  .landing-text {
    font-size: 2.5rem;
  }
  #go-button {
    margin-top: 2rem;
    right: 40%;
  }

  /* Styles for the Travel Form Page */

  input {
    width: 70vw;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .extra {
    display: flex;
    margin: 3rem 1rem;
    padding: 1rem;
    background-color: cadetblue;
    border-radius: 1.625rem;
    height: 60vh;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  /* Styles for the Travel Results Page */

  .results {
    flex-direction: column-reverse;
  }
  .trip-list {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .mini-card {
    align-self: center;
    max-width: 80vw;
  }
  .mini-img {
    max-height: 40vh;
  }
}
